/application.xml

/bat/SetupApplication.bat

/cert/FIELDMARSHAL.p12

/bin/FIELDMARSHAL.swf

/dist/FIELDMARSHAL-captive-runtime.apk

/icons/android/icons/icon_144.png

/obj/FIELDMARSHALConfig.old

/obj/FIELDMARSHALConfig.xml
